  {{template "header" .}}

  <div class="issues">
  {{ range .issues }}
    <div class="issue">
      <div class="title">{{ .Title }}</div>
      <div class="body">{{ .Body }}</div>
      <div class="created">{{ .CreatedAt }}</div>
    </div>
  {{ end }}
  </div>

  <script>
    var md = new markdownit({
      highlight: function (str, lang) {
        if (lang && hljs.getLanguage(lang)) {
          try {
            return hljs.highlight(lang, str).value;
          } catch (__) {}
        }
        return '';
      }
    });
    var elements = document.getElementsByClassName("body");
    elements = Array.from(elements);
    console.log(elements);
    elements.forEach(element => {
      console.log(element);
      element.innerHTML = md.render(element.innerText);
    });
  </script>
  {{template "footer"}}
