body {
  font-family: monospace;
}
.container {
  margin: auto;
  max-width: 1024px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.issue {
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 10px;
  border: 1px solid #AAA;
}
.title {
  padding: 20px;
  font-size: 16px;
  border-bottom: solid 1px #AAA;
  text-align: center;
  font-weight: bolder;
}
.body {
  padding: 20px;
  font-size: 16px;
  white-space: pre;
}
.created {
  padding: 10px;
  text-align: right;
}
footer {
  margin: 50px;
  text-align: center;
}
pre {
  background-color: #181818;
  padding: 10px;
  color: #EEE;
  border-radius: 5px;
}
p {
  margin: 0px;
}